#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3% 2%;
    /* width: 1280px; */
    width:auto;
    /* border: 1px solid; */
    padding: 2%;
    margin-left: 15%;
    /* border: 1px solid; */
}

#container>div>img{
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    padding: 10px 2px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.nav-right{
    display: flex;
    width:20%;
    justify-content: space-between;
    /* border: 1px solid; */
}
.nav-left{
    display: flex;
    justify-content: space-evenly;
    width:15%;
    height: 50%;
    /* border: 1px solid; */
}
.nav-right>img{
    width: 15%;
    margin-right: 5%;
    
    
}
.nav-right>img:last-child{
    width: 15%;
    /* border-radius: 50%; */
    
}
.nav-left>img{
    width: 25px;
    margin-left: 10px;

}
.nav-left>img:last-child{
    /* border: 1px solid; */
    width: 50%;
    margin-left: 5%;
}
.nav-left>img:first-child{
    width: 10%;
    height: 40%;
    margin-top: 10%;
    margin-left: 5%;
    
}
.nav-middle{
    width: 55%;
    display: flex;
    /* border: 1px solid; */
}

.nav-middle>input{
    width: 100%;  /*500px*/
    height: 30px;
    padding: 0 10px;
    margin-top: 10px;
}

.nav-middle>img{
    /* border: 1px solid; */
    height: 10%;
    padding: 2px 10px;
    margin-top: 10px;
    background-color: lightgray;
}
.nav-middle>img:first-child{
   
    
margin-left: 5%;
    padding: 5%;
}
.image{
    height: 50px;
    width: 4%;
}
.nav-middle>img:last-child{
    
    /* border: 1px solid; */
    margin-left: 3%;
    height: 30px;
    width: 5%;
    margin-top: 1%;
    border-radius: 50%;
    background-color: lightgrey;
    
}

#sidebar{
    display: flex;
    /* position: fixed; */
}
.side{
    position: fixed;
    /* flex: 1; */
    /* border: 1px solid; */
    background: white;
    /* margin-top: 2%; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 14%;
    
}

.side a {
    display: flex; 
    text-decoration: none;
    align-items: center;
    margin-bottom: 5%;
    
    
}
.side a:hover {
    cursor: pointer;
    background-color: lightgray;
}
.side a img{
 /* border: 1px solid; */
 margin-left: 1%;
 height: 10% ;
 width: 30%;
 
}
.side a p{
    margin-left: 1%;
    color: black;
    font-size: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    block-size: fit-content;
    /* border: 1px solid; */
}
.thumbnail>img{
    border-radius: 5%;
}
@media all and (min-width:481px) and (max-width:768px) {
    
    .nav-middle>img:last-child{
    
       margin-top: 3%;
        
        
    }

    

    .side img{
        /* border: 1px solid; */
        margin-left: 3%;
        height: 50%;
        
       }

       #container{
        
        grid-template-columns: repeat(3,1fr);
        
    }

    .side a p{
        margin-left: 1%;
        color: black;
        font-size: 10px;
        
    }
    
}


@media all and (min-width:320px) and (max-width:480px){

    #container{
        
        grid-template-columns: repeat(2,1fr);
        
    }

    
    .nav-left>img:last-child{
        /* border: 1px solid; */
        width: 80%;
        margin-left: 5%;
    }

    .nav-middle>img:last-child{
    
        margin-top: 8%;
         
         
     }

    #container>div>img{
        width: 80%;
    }
    
    .side a p{
        margin-left: 1%;
        color: black;
        font-size: 5px;
        
    }
    

}